# ===== Python =====
__pycache__/
*.py[cod]
*.pyo

# ===== Virtual Environment =====
venv/
.venv/
env/
ENV/

# ===== Python packaging =====
build/
dist/
*.egg-info/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Logs & cache =====
*.log
.cache/

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db
